<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          
            <form method="GET" action="/logout">
                <input type="submit" value="LOGOUT">
            </form>

          </div>
        </div>
      </nav>

    <h2>Questions Asked</h2>

                <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Question</th>
                            <th scope="col">Uploads</th>
                            <th scope="col">Explaination</th>
                            <th scope="col">File Upload</th>
                            <th scope="col">Reply</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0;i<dbarr.length;i++){ %>

                          <tr>
                            <th scope="row"><%=i+1%></th>
                            <td><%=dbarr[i].uname %></td>
                            <td><%=dbarr[i].qtopic %></td>
                            <td><%=dbarr[i].question %></td>
                            <td><a href="localhost:4000/uploads/<%=dbarr[i].filename %>">View file</a></td>
                            <form ref='uploadForm' id='uploadForm'  action='/adminreply'  method='post' encType="multipart/form-data">
                            <td><input type="text"></td>
                            <td>
                              <div>
                                  <input type="file" name="sampleFile" />
                                  <input type='submit' value='Upload!' />
                                  
                              </div>
                            </td>
                      </form>
                          </tr>
                          <% } %>
                          
                        </tbody>
                      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>